/* 김하나 추가 */
@import url('fontawesome.all.css');
@import url('jquery.mCustomScrollbar.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}


html{font-size: 100%;}

input.box-style{
    display: block;width: 100%;background: #fff;height: 56px;padding: 20px 17px;border-radius: 5px;border: 1px solid #ddd;
}
.copyright-area{
    margin-bottom: 20px;
    h2{margin-bottom: 10px;}
    input.box-style{}
}

.btn.spot:disabled{
    opacity: .5;cursor: default;
}
.btn.radius-0{border-radius: 0;}


.ui-checkboxradio-label.hdn-txt {font-size: 0 !important;}

.attach-file-area{
    margin-bottom: 35px;min-height: 166px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f7f7f7;
    padding: 10px 9px;
	.text-invalid{font-size: 13px;font-weight: 500;color: #ff6858;margin-top: 5px;}
}

.select-all{
    display: none;
    .checkbox-custom{
        text-decoration: none;font-weight: 500;
        &::before{
            content: '';display: inline-block;width: 24px;height: 24px;vertical-align: middle;
            background: url('../images/common/icon_chk_off.png');background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
            margin-right: 5px;transition: all .1s;
        }
    }
    .checkbox-custom.active{
        color: #ff6858;
        &::before{
            background-image: url('../images/common/icon_chk_on.png');
        }
    }
}

.editor{
    height: auto;
    .contents{
        padding-top: 25px;width: 992px;
    }
}

.tkbell-editor{
}
.tkbell-editor-header{
    height: 56px;position: relative;
    .question-num{
        position: absolute;right: 15px;top: 50%;transform: translateY(-50%);margin-top: -1px;font-size: 14px;color: #888;letter-spacing: -0.28px;
        span{color: #ff6858;font-weight: 500;}
    }
}
.tkbell-editor-header .inner{
    border: 1px solid #ddd;border-radius: 28px;background-color: #fff;width: 992px;position: fixed;top: 0;top: 96px;z-index: 99;
}
html.tool-fixed{
    .tkbell-editor-header .inner{
        box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    }
    .left{
        .tkbell-editor-header .inner{

        }
    }
}

.tool,
.tool-sub{
    i{color: #888;}
    i[class^=ic]{display: block;width: 24px;height: 24px;background-repeat: no-repeat;background-position: 50% 50%;font-size: 17px;color: #888;line-height: 1;vertical-align: top;font-family: "Font Awesome 5 Pro";-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;text-rendering: auto;font-style: normal;position: relative;box-sizing: border-box;}
    i[class^=ic]::before{display: inline-block;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}

    i[class$=preview]{background-image: url('../images/make/ic-preview.png');}
    i[class$=undo]{background-image: url('../images/make/ic-undo.png');}
    i[class$=redo]{background-image: url('../images/make/ic-redo.png');}
    i[class$=focus]{background-image: url('../images/make/ic-focus.png');}
    i[class$=text]{background-image: url('../images/make/ic-text.png');}
    i[class$=pen]{background-image: url('../images/make/ic-pen.png');}
    i[class$=eraser]{background-image: url('../images/make/ic-eraser.png');}
    i[class$=imgadd]{background-image: url('../images/make/ic-imgadd.png');}
    i[class$=imgsearch]{background-image: url('../images/make/ic-imgsearch.png');}
    i[class$=textbox]{background-image: url('../images/make/ic-textbox.png');}
    i[class$=radiobtn]{background-image: url('../images/make/ic-radiobtn.png');}
    i[class$=checkbox]{background-image: url('../images/make/ic-checkbox.png');}
    i[class$=dropdown]{background-image: url('../images/make/ic-dropdown.png');}
    i[class$=connetline]{background-image: url('../images/make/ic-connetline.png');}
    i[class$=setting]{background-image: url('../images/make/ic-setting.png');}
    i[class$=question]{background-image: url('../images/make/ic-question.png');}
    i[class$=outline]{width: 18px;height: 18px;background-color: #e8e7e8;border: 2px solid #000;border-radius: 2px;}
    i[class$=fill]{background-image: url('../images/make/ic-fill.png');width: 18px;height: 18px;border: 2px solid #ddd;border-radius: 2px;}
    i[class$=opacity]{background-image: url('../images/make/ic-opacity.png');}
    .active,
    .show{
        i[class$=text]{background-image: url('../images/make/ic-text-select.png');}
        i[class$=pen]{background-image: url('../images/make/ic-pen-select.png');}
        i[class$=eraser]{background-image: url('../images/make/ic-eraser-select.png');}
        i[class$=imgadd]{background-image: url('../images/make/ic-imgadd-select.png');}
        i[class$=imgsearch]{background-image: url('../images/make/ic-imgsearch-select.png');}
        i[class$=textbox]{background-image: url('../images/make/ic-textbox-select.png');}
        i[class$=radiobtn]{background-image: url('../images/make/ic-radiobtn-select.png');}
        i[class$=checkbox]{background-image: url('../images/make/ic-checkbox-select.png');}
        i[class$=dropdown]{background-image: url('../images/make/ic-dropdown-select.png');}
        i[class$=connetline]{background-image: url('../images/make/ic-connetline-select.png');}
        i[class$=setting]{background-image: url('../images/make/ic-setting-select.png');}
        i[class$=question]{background-image: url('../images/make/ic-question-select.png');}
    }
    i[class$=line-solid]{background-image: url('../images/make/ic-line-solid.svg');}
    i[class$=line-dashed]{background-image: url('../images/make/ic-line-dashed.svg');}
    i[class$=copy]::before{content: '';}
    i[class$=delete]::before{content: '';}
    .bar{display: block;width: 1px;height: 23px;background: #ddd;margin: 0 12px;}
}

.tool{
    display: flex;align-items: center;padding: 15px;

    > *{
        line-height: 1;color: #888;font-size: 14px;display: block;margin: 0 8px;
        > a{color: #888;font-weight: 500;}
    }
    .show > a{color: #ff6858;}
    a{display: inline-block;}

    .has-sub{
        position: relative;
        &.show .sub-menu{display: block;}
    }

    .tooltip{font-size: 14px;}
    .tooltip-inner{padding: 4px 7px;}
}

.tool-sub{
    display: flex;align-items: center;padding: 15px;border-radius: 28px;box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.21);background-color: #fafafa;border: 1px solid #ddd;position: fixed;left: 50%;transform: translate(-50.2%, 0);top: 152px;z-index: 999;
    > *{
        margin: 0 4px;line-height: 1;font-size: 14px;
        > a{width: 24px;height: 24px;display: flex;align-items: center;justify-content: center;}
        > a.active{background: #ddd;border-radius: 3px;}
    }
    .bar{margin: 0 12px;}
    .fa, .fas, .far, .fal, .fad, .fa{font-size: 18px;}
    .fa-arrows{cursor: move;}
}

.tool-select{
    position: relative;min-width: 24px;
    .selected{
        display: block;padding: 0 26px 0 10px;position: relative;white-space: nowrap;line-height: 24px;width: 100%;text-overflow:ellipsis;overflow: hidden;
        &::before{content: '';display: block;width: 10px;height: 6px;background: url('../images/make/ic-arrow-down.svg') no-repeat 50% 50%;position: absolute;right: 10px;top: 50%;margin-top: -3px;}
        i{margin: 0 auto;}
    }
    .custom-select{
        position: absolute;width: 100%;max-height: 300px;background: #fff;margin-top: 6px;display: none;box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);border-radius: 4px;
    }
    li{
        a{display: block;padding: 10px 10px;font-size: 14px;white-space: nowrap;transition: all .1s;}
        a:hover{background-color: #f4f4f4;}
    }
    .mCSB_scrollTools{width: 4px;}
    .mCSB_inside > .mCSB_container{margin-right: 0;}
    .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: rgba(0,0,0,0.4);}
    &.no-arrow{
        .selected{
            padding-left: 0;padding-right: 0;
            &::before{display: none;}
        }
        .custom-select{margin-left: -10px;}
    }
}

.t-textcolor{
    position: relative;padding-bottom: 3px;
    .underline{width: 15px;height: 3px;background: #000;position: absolute;bottom: 0;left: 50%;margin-left: -7.5px;}
}

.tkbell-editor-body{
    border: 1px solid #ddd;background: #fff;border-radius: 5px;margin-top: 10px;overflow: hidden;
}

.editor-box {
    min-height: 1153px;margin: 0 auto 150px auto;
}

.editor-layer {
    background-color: #FFF;height: 1153px;margin-bottom: 10px;position: relative;border-top: 1px dashed #ddd;
    &::before{display: block;content: attr(data-page-index);border: 1px solid #ddd;border-left: 0;width: 25px;line-height: 25px;color: #888;text-align: center;position: absolute;left: 0;top: -1px;border-radius: 0 5px 5px 0;}
    &:first-of-type{
        border-top: 0;
        &::before{border-top: 0;}
    }
}

.editor-layer.active {
    z-index: 9999;
}

#quickView {
    position: fixed;background: #FFF;width: 60px;top: 161px;left: 50%;transform: translateX(505px);z-index: 9;text-align: center;border: 1px solid #ddd;font-size: 14px;border-radius: 5px;
    .toggler {
        display: block;font-size: 12px;font-weight: 500;line-height: 30px;color: #888;
        i{margin-left: 2px;font-size: 20px;vertical-align: middle;margin-top: -2px;}
    }
    ul{border-top: 1px solid #ddd;padding: 5px 0;}
    li{margin: 5px 0;}
    button {
        width: 24px;height: 24px;border-radius: 50%;transition: .3s ease;display: inline-block;font-size: 14px;color: #888;
        &:hover {
            background-color: #ff6858;color: #FFF;
        }
    }
    .page-navigation.active button {
        background-color: #ff6858;color: #FFF;
    }
}

.img-search{
    width: 870px;padding: 0 35px;
    .search-bar {
        display:block;border:4px solid #ff7461;background:#fff; border-radius:5px;font-size:0;position:relative;
        .search-ipt {box-sizing:border-box;width: 100%;vertical-align: middle;border: 0;padding-bottom: 0;padding-left: 15px;}
        .sch-smit {border:0;background:#ff7461;color:#fff;font-size:16px;font-weight:400;height:100%;box-sizing:border-box;width: 100px;}
    }
    .count{text-align: right;margin-top: 20px;color: #666;font-size: 14px;margin-bottom: 10px;}
    .album{
        text-align: center;position: relative;
        ul{display: flex;flex-wrap: wrap;margin: -5px;box-sizing: border-box;}
        li{
            width: 25%;padding: 5px;height: 140px;box-sizing: border-box;
            a{display: block;height: 100%;}
            img{width: 100%;height: 100%;object-fit: cover;}
        }
    }
    .page{text-align: center;margin-top: 15px;color: #666;font-weight: 500;}
    .album-nav{
        font-size: 24px;
        .prev{color: #888;position: absolute;left: -30px;top: 50%;transform: translateY(-50%);}
        .next{color: #888;position: absolute;right: -30px;top: 50%;transform: translateY(-50%);}
    }
}

.option-setting{
    color: #888;font-size: 15px;width: 425px;
    input.box-style{font-size: 14px;height: 40px;padding: 15px;}
    .ui-checkboxradio-label{font-size: 16px;}
    .option{
        display: flex;align-items: center;margin-bottom: 1rem;
        > *{margin-right: 10px;}
        label{margin-left: 20px;}
        .ui-checkboxradio-label{font-size: 16px;}
        .ui-checkboxradio-icon{top: -2px;}
    }
    .answer-list{
        margin-top: 1rem;
        li{background-color: #f8f8f8;border: 1px solid #e3e3e3;border-radius: 50rem;font-size: 14px;letter-spacing: -0.65px;padding: 10px 15px;display: inline-block;line-height: 1;color: #333;font-weight: 500;}
        button{font-size: 0;padding: 0;margin-left: 10px;
            i{font-size: 14px;}
        }
    }
    .answer{
        .item{
            margin-bottom: .5rem;
            .ui-checkboxradio-label{display: flex;align-items: center;}
            input.box-style{width: 90%;margin-left: 5px;}
        }
        .btn-sm{margin-left: 30px;}
    }
}

.text-warning{color: #ff6858;}



.fraction{
    input.box-style{width: 60px;text-align: center;}
    .bar{display: block;width: 100%;height: 2px;background: #000;margin: .5rem 0;}
}

/* table list */
.tbl-list{font-size: 14px;
    .overflow-y{max-height: 400px;overflow-x: hidden;}
    table {
        width:100%;
        thead tr:first-child th {
            border-top:3px solid #757c83;
        }
        thead th {
            background:#f7f7f7;padding:6px 0;text-align:center;color:#333;font-weight:500;border-right:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;
        }
        tbody th,
        tbody td {
            border-right:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;text-align:center;padding-top:10px;padding-bottom:10px;vertical-align:middle;
        }
        th:last-child,
        td:last-child { border-right:0; }
        tbody tr:hover td {	background-color:rgba(0,0,0,.025);}
    }
}

.line-connect{
    position: fixed;left: 50%;top: 220px;z-index: 998;transform: translateX(-50%);
    width: 900px;border: 1px solid #ddd;border-radius: 5px;background-color: #ffffff;padding: 1rem;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.07), 0 3px 14px 2px rgba(0,0,0,0.07), 0 5px 5px -3px rgba(0,0,0,0.1);
    .item{
        display: block;min-height: 120px;border: 1px solid #ddd;transition: all .2s;text-align: center;
        &.active{border-color: #ff6858;}
        img{width: 100px;margin-top: 10px;}
    }
    .custom{
        .tit{
            margin-bottom: .5rem;
            span{font-weight: 500;}
        }
        .row{margin-left: -2.5px;margin-right: -2.5px;}
        [class^=col]{padding-left: 2.5px;padding-right: 2.5px;}
        .btn{width: 100%;margin-top: 0.5rem;border-radius: 5px;}

    }
}

.box-connect{
    width: 120px;height: 120px;
    .btn-point{
        display: block;width: 30%;height: 0;padding-bottom: 30%;position: relative;
        span{position: absolute;left: 0;top: 0;width: 100%;height: 100%;border: 2px solid #777;border-radius: 50%;overflow: hidden;}
        &.active{
            span{background-color: #333;border-color: #333;}
        }
    }
    .group{
        display: flex;flex-wrap: wrap;align-items: center;height: 100%;padding: 10px;
        .item{width: 50%;text-align: center;display: flex;align-items: center;justify-content: center;}
    }
    &[data-by^='3x']{
        .group{
            .item{width: 33.33333%;}
        }
    }
}

@page { size: A4; }
@media print{
    body{background: #ffffff;}
    .editor{
        transform: translateY(-70px);
    }
    .tkbell-editor-header{display: none;}
    .make-header{display: none;}
    #quickView{display: none;}
    .tool-sub{display: none;}
    .line-connect{display: none;}
}