[class^="btn-"] {
	display:inline-block;border-radius:5px; box-sizing:border-box;padding:0 20px;text-align:center;border:0;background:#7e7e7e;color:#fff;font-weight:400;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s;cursor:pointer;vertical-align:middle;
}
[class^="btn-"]:hover,
[class^="btn-"]:focus {
	color:#fff;box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.btn-24 { height:24px;line-height:22px;font-size:13px; }
.btn-30 { height:30px;line-height:28px;font-size:13px; }
.btn-34 { height:34px;line-height:32px;font-size:13px; }
.btn-36 { height:36px;line-height:34px;font-size:14px; }
.btn-38 { height:38px;line-height:36px;font-size:14px;min-width:120px; }
.btn-60 { height:60px;line-height:58px;font-size:18px;min-width:260px; }

/* btn : spot */
[class^=btn-].spot {
	background:#ee6131;border:1px solid #ee6131;color:#fff;
}
[class^=btn-].btn.spot2 {
	background:#444;border:1px solid #333;color:#fff;
}
[class^=btn-].spot3 {
	background:#ff6759;border:1px solid #ff6759;color:#fff;
}
[class^=btn-].spot4 {
	background:#00a098;border:1px solid #00a098;color:#fff;
}

.subject-info{
    text-align: center;max-width:600px;margin: 0 auto;
    .tit{margin-bottom: 20px;margin-top: -20px;}
    .deadline{margin-bottom: 30px;}
    .desc{background: #e3e3e3;padding: 20px;margin-bottom: 30px;}
}

.subject-login-form{
    max-width:350px;margin: 0 auto;
    input{background: #ffffff;width: 100%;box-sizing: border-box;}
    .btn{width: 100%;margin-top: 10px;}
}

@media screen and (max-width: 630px) {
    .subject-info{
        max-width: 350px;
        .tit{font-size: 18px;margin-bottom: 10px;margin-top: -30px;}
        .desc{font-size: 14px;padding: 15px;margin-bottom: 20px;line-height: 1.5;}
    }
}

.popup-pw{
    .pop-container{max-width: 430px;}
    .password-confirm{
        text-align: center;padding: 5rem;
        strong{display: block;font-size: 20px;font-weight: 500;letter-spacing: -0.4px;color: #000;margin-bottom: 30px;}
        p{font-size: 18px;font-weight: 500;letter-spacing: -0.36px;color: #666;line-height: 1.6;margin-bottom: 40px;}
        .form-control{border: 1px solid #ccc;border-radius: 3px;width: 100%;height: 56px;font-size: 20px;font-weight: 500;box-sizing: border-box;}
        .row{margin-bottom: 5rem;padding: 0 1rem;}
    }
}